*{
    box-sizing: border-box;
   }

   @font-face {
    font-family:'Poppins';
    src: url(../fonts/Poppins-Black.ttf);}

    @font-face {
        font-family:'Roboto';
        src: url(../fonts/Roboto-Black.ttf);}

body{
    background:#F9D423;
}

.btn{
    height: 60px;
    border: 2px solid #1B1B1B;
    border-radius: 100px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 26px;

color: #1B1B1B;

}

.box-pattern{
    position: absolute;
    top: 80px;
    left: 0px;
    z-index: 1;
}
