*{
    box-sizing: border-box;
   }

   @font-face {
    font-family:'Poppins';
    src: url(../fonts/Poppins-Black.ttf);}

    @font-face {
        font-family:'Roboto';
        src: url(../fonts/Roboto-Black.ttf);}

body{
    background:#F9D423;
    
}

.btn{
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    color: #1B1B1B;
}

.box-buy{
    display: flex;
    justify-content: center;
    width: 520px !important;
    height:60px !important;
    border: 2px solid #1B1B1B;
    border-radius: 100px;
}

